<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="/res/js/jquery.js" type="text/javascript"></script>
        <script src="/res/js/jquery-ui.js" type="text/javascript"></script>
        <script src="/res/js/view-common.js" type="text/javascript"></script>
        <script src="/res/js/view-page-common.js" type="text/javascript"></script>
        <script src="/res/js/socket.io.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/res/css/style.css" type="text/css">
        <%- renderScripts(scripts) %>
        <%- renderStyles(styles) %>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-27989416-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <title><%= title %></title>
    </head>
    <body>
        <header>
            <a href="/dash"><img src="/res/img/system/logo-small.png" /></a>
            <div class="left-links">
                <a href="/songs">Songs</a>
                <a href="/rooms">Rooms</a>
                <a href="/shop">Shop</a>
            </div>
            <div class="right-links">
                <div id="notification-badge" class="ui-red-badge hidden"><div>1</div></div>
                <div id="user-panel" class="hidden">
                    <ul id="notification-panel">
                        <li>Someone invited you to a game<div class="delete_btn"></div></li>
                        <li>Someone just followed you<div class="delete_btn"></div></li>
                        <li>Someone just beat you in Song<div class="delete_btn"></div></li>
                        <li class="hidden" id="notification-panel-empty">No notifications</li>
                    </ul>
                    <div id="user-panel-action-bar">
                        <a href="/user/settings" >Settings</a>
                        <a href="auth/logout" >Logout</a>
                    </div>
                </div>
                <a id="user-link" href="#"><%=user.username %> &#9660;</a>
            </div>
        </header>
        <div id="warp">
            <%- body %>
        </div>
    </body>
</html>