<div id="player-load">
    <div id="player-load-info"><img id="player-album-img"><div>Loading Assets...</div></div>
    <div id="player-play-btn" class="hidden">Play Song</div>
    <div id="player-play-loading"><div></div></div>
</div>
<div class="player-wrap hidden">
    <div class="player-bg">
        <canvas class="player-canvas"></canvas>
        <canvas class="player-msg-canvas"></canvas>
    </div>
    <div class="player-target"> </div>
    <div class="player-keys">
        <div class="w1 key-white-left" > </div>
        <div class="w2 key-white-right" > </div>
        <div class="b1 key-blue" > </div>
        <div class="g key-gold" > </div>
        <div class="w3 key-white-left"> </div>
        <div class="w4 key-white-right"> </div>
        <div class="b2 key-blue"> </div>
    </div>
</div>
<div class="player-stats">
    <table>
        <tr>
            <td>Frame Rate</td>
            <td class="stats-framerate"></td>
        </tr>
    </table>
</div>