<div>
    <div id="song-div">
        <div class="mushroom-title">Song List</div>
        <div class="mushroom-sandwich"><input type="search" placeholder="search"/></div>
        <ul id="songs-list">
            <li class="lvl-1">
                <div class="song-name">Clear Blue Sky</div><div class="artist">Tsukasa</div>
            </li>
        </ul>
    </div>
    <div id="song-dash-div">
        <div>
            <div>
                <div class="mushroom-title">Recently Played</div>
                <div></div>
                <div class="mushroom-title">Song Recommendations</div>
                <div></div>
                <div id="song-stats-div">
                </div>
            </div>
        </div>
    </div>
</div>