<script type="text/javascript">
    $(document).ready(function(){
        $.setBGM("song");
    });
</script>
<div>
    <div id="ui-left-div">
        <h2>Search</h2>
        <input id="song-search" type="text" placeholder="Type in a song name"/>
        <h2>Browse</h2>
        <ul id="init-selector">
            <li>All songs</li>
            <li>By artist</li>
            <li>By genre</li>
            <li>By difficulty</li>
        </ul>
        <h2>Current Queue</h2>
    </div>
    <div id="ui-center-div">
        <div>
            <div class="ui-mushroom-title" id="search-title">Newly Added Songs</div>
            <div class="ui-mushroom-content" id="search-content">
            </div>
        </div>
    </div>
    <div id="ui-right-div">
    </div>
</div>