<script type="text/javascript">
    $(document).ready(function(){
        $("#signup-btn").on("click", function(){
            if(!$("#email-input-div").is(":visible")){ //Check if clicked onced
                $("#email-input-div").slideDown();
                $("#login-btn-span, #login-btn-facebook > img").fadeOut(300);
                $("#username-input").focus();
                $(this).addClass('blue')
                $("form").attr("action", "signup");
                
            }else{
                $("form").trigger("submit");
            }
            
        });
        $("#login-btn").on("click", function(){
            $("form").trigger("submit");
        });
    });
</script>
<div id="login-div">
    <img src="res/img/system/logo.png" alt="logo"/>
    <div>
        <form name="login-signup" action="signup" method="post">
            <div id="login-inputs">
                <div>Username <input id="username-input" type="text" name="username" placeholder="username" /></div>
                <div>Password <input type="password" name="password" placeholder="password" /></div>
                <div id="email-input-div" class="hidden">Email <input type="email" name="email" placeholder="email address" /></div>
                <div id="remember-input-div"><label><input type="checkbox" name="remember"/> Remember Me</label></div>
            </div>
            <div id="login-btns">
                <a id="login-btn-facebook" href="/auth/facebook"><img src="res/img/system/login-with-facebook.png" alt="facebook login" /></a> <span id="login-btn-span"><a class="button blue" id="login-btn">Login</a> or </span><a class="button" id="signup-btn">Sign Up</a>
            </div>
        </form>
    </div>
</div>
<div></div>

<div id="copyright"> Rhythm &copy; by Nest Games </div>