<style type="text/css">
#game-div{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
</style>
<div class="hidden">
    <div id="track-title"><%= track.title %></div>
    <div id="track-speed"><%= track.speed %></div>
</div>
<div id="game-div">
    <object width="350" height="590" data="/game.swf">
        <param name="title" value="<%= track.title %>">
        <param name="speed" value="<%= track.speed %>">
        <param name="wmode" value="transparent">
    </object>
</div>