<div>
    <div id="ui-left-div">
        <div class="ui-content">
            <img id="player-avatar" src="/res/img/system/user.png" alt="user-pic" /><%=user.username %>
            <div id="player-stats">
                <span>Level 6 Rookie</span>
                <div id="level-up-bar" class="ui-progress-bar"><div></div></div>
            </div>
        </div>
    </div>
    <div id="ui-center-div">
        <div>
            <div class="ui-mushroom-title">Recently Played</div>
            <div class="ui-mushroom-content">
                <div id="recently-played" class="ui-horizontal-slider">
                    <img src="/res/track/kiss_the_rain/album.jpg" />
                    <img src="/res/track/canon_o2_remixed/album.jpg" />
                    <img src="/res/track/kiss_the_rain/album.jpg" />
                    <img src="/res/track/kiss_the_rain/album.jpg" />
                    <img src="/res/track/kiss_the_rain/album.jpg" />
                    <img src="/res/track/kiss_the_rain/album.jpg" />
                </div>
            </div>
            <div class="ui-mushroom-title">Song Recommendations</div>
            <div class="ui-mushroom-content"></div>
            <div id="song-stats-div">
            </div>
        </div>
    </div>
    <div id="ui-right-div">
        <div class="ui-mushroom-title">Leaderboard</div>
        <div class="ui-mushroom-content"></div>
    </div>
</div>