/* Dashboard */

#songs-list{
    color: #fff;
    list-style: none;
}

#songs-list > li{
    padding: 5px;
    height: 20px;
}

#songs-list > li.lvl-1{
    background-color: rgba(223, 128, 255, 0.4);
}

#songs-list > li div.song-name{
    float: left;
}

#songs-list > li div.artist{
    float: right;
    color: #999;
}

#player-avatar{
    width: 75px;
    margin: 20px 10px -10px 5px;
    border: 1px dashed white;
}

#player-stats{
    margin-top: 20px;
}

#player-stats .ui-progress-bar{
    
}

#recently-played{
    margin: 5px;
    height: 115px;
}

#recently-played img{
    width: 100px;
    border: 1px solid #EFEFEF;
    margin: 5px;
}