/* Rhythm Player */

@-webkit-keyframes player-pulse {
    0% {
       opacity: 0.8;
        bottom: 10px;
    }
    50% {
       opacity: 0.6;
        bottom: 8px;
    }
    100% {
       opacity: 0.8;
        bottom: 10px;
    }
}

@-moz-keyframes player-pulse {
    0% {
       opacity: 0.8;
        bottom: 10px;
    }
    50% {
       opacity: 0.6;
        bottom: 8px;
    }
    100% {
       opacity: 0.8;
        bottom: 10px;
    }
}

#player-end{
    background-image: url("../img/system/bg.png");
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 80px;
}

#player-end h1{
    display: none;
}

#player-load{
    background-image: url("../img/system/bg.png");
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#player-load-info{
    margin: 160px auto 0px auto;
    width: 800px;
    text-align: center;
    bottom: 0px;
}

#player-load-info > div{
    display: inline;
    padding-right: 125px;
}

#player-load-info > img{
    border: 5px white solid;
    width: 270px;
    margin-right: 35px;
    display: inline;
}

#player-play-btn {
    text-align: center;
    margin-top: 10px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size: 25px;
    color: #CCC;
}

#player-play-btn:hover{
    color: #fff;
}

#player-play-loading{
    top: 25px;
    position: relative;
}

#player-play-loading > div{
    background-color: #2187E7;
    background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    width: 3px;
    height: 3px;
    border-radius: 50px;
    box-shadow: 0 0 5px #00c6ff;
    margin: 0 auto;
}

.game-wrap {
    width: 50%;
    padding-right: 0px;
    height: 500px;
    position: relative;
    right: 50px;
    top: 20px;
}

.stats-wrap{
    float: right;
    width: 50px;
}

.player-wrap {
    float: right;  
    -webkit-animation-name: glow-9;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: glow-pulse;
    -moz-animation-duration: 0.6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

.player-bg{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    z-index: -2;
    position: relative;
}

.player-bg canvas{
    width: 100%;
    position: relative;
    z-index: 20;
}


.player-msg-canvas{
    height: 200px;
    width: 350px;
    position: relative;
    bottom: 200px;
    margin-top: -200px;
}

.player-target{
    background-image: url("../skin/rhythm/key-target.png");
    height: 12px;
    width: 350px;
    position: relative;
    margin: -12px auto auto auto;
    bottom: 10px;
    opacity: 0.8;
    -webkit-animation-name: player-pulse;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: player-pulse;
    -moz-animation-duration: 0.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    z-index: -1;
}

.player-keys{
    background-color: rgba(0,0,0,0.3); /*Black semi transparent background*/
    height: 72px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    z-index: 3;
}

.player-keys > div{
    height: 522px;
    margin-top: -450px;
    float: left;
}

.player-keys > .key-white-left{
    background: url("../skin/rhythm/rhythm-skin.png") no-repeat 0px -220px;
    width: 71px;
}

.player-keys > .key-white-left.pressed{
    background-position: -72px -220px;
}

.player-keys > .key-white-right{
    background: url("../skin/rhythm/rhythm-skin.png") no-repeat -225px -220px;
    width: 71px;
}

.player-keys > .key-white-right.pressed{
    background-position: -296px -220px;
}

.player-keys > .key-blue{
    background: url("../skin/rhythm/rhythm-skin.png") no-repeat -144px -220px;
    width: 40px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    left: -71px;
    z-index: 3;
}

.player-keys > .key-blue.pressed{
    background-position: -185px -220px;
}

.player-keys > .key-gold{
    background: url("../skin/rhythm/rhythm-skin.png") no-repeat -368px -220px;
    width: 66px;
}

.player-keys > .key-gold.pressed{
    background-position: -435px -220px;
}
