ul#init-selector{
	list-style: none;
	color: #999;
	margin-left: 40px;
	cursor: pointer;
}

ul#init-selector > li{
	display: block;
}

ul#init-selector > li:hover{
	color: #fff;
}

input#song-search {
	margin: 5px 0px 0px 20px;
	background-color: #EFEFEF;
	border: none;
	border-radius: 17px;
	font-size: 18px;
	padding: 3px 6px 3px 6px;
	width: 190px;
	box-shadow: inset 1px 1px 5px #000;
}

input#song-search:focus {
    outline: none;
}

.ui-song-list > div{
	margin: 10px;
	border: 1px solid white;
	padding: 6px;
	height: 100px;
}

.ui-song-list > div:hover {
	background-color: #111;
}

.ui-song-list > div > .actions {
	float: right;
	font-size: 21px;
	display: block;
	padding: 4px;
}

.ui-song-list > div a{
	color: #999;
	text-decoration: none;
}

.ui-song-list > div a:hover{
	cursor: pointer;
	color: #fff;
}

.ui-song-list > div > img{
	width: 100px;
	float: left;
}

.ui-song-list > div > table{
	color: #999;
	margin-left: 110px;
}
