/* Global CSS */
*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    background-image: url("../img/system/bg.jpg");
    color: #fff;
    font-family: "Lucida Sans Unicode", "Verdana";
    height: 100%;
}

#wrap{

}

a{
    font-size: 13px;
}

input[type='checkbox']{
    width: 15px;
    display: inline;
    margin-top: 10px;
}


/* Modes */
.hidden{
    display:none;
}

/* page-layout */
header {
    padding: 10px 0px 0px 10px;
    height: 30px;
    line-height: 30px;
}

header img{
    float: left;
    opacity: 0.7;
    cursor: pointer;
}

header img:hover{
    opacity: 1;
}

header > div.left-links{
    float: left;
}

header > div.right-links{
    display: block;
    float: right;
}

header > div.left-links a, header > div.right-links > a{
    color: #888;
    text-decoration: none;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}

header a:hover{
    color: #fff;
}

#user-link{
    padding: 4px;
}

.user-panel-link-select{
    background-color: white;
    padding: 4px;
    border-radius: 5px 5px 0px 0px;
}

.user-panel-link-select:hover{
    color: #888;
}

#user-panel{
    position: absolute;
    width: 300px;
    background-color: #FEFEFE;
    margin-top: 30px;
    right: 15px;
    border-radius: 10px 0px 10px 10px;
    box-shadow: 4px 4px 10px #000;
}

#nofication-panel{
    list-style: none;
    max-height: 700px;
    color: #333;        
}

#nofication-panel-empty{
    text-align: center;
    color: #666;
}

#user-panel-action-bar a{
    color: #333;
    width: 50%;
    height: 30px;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
}

#user-panel-action-bar a:first-child{
    border-radius: 0px 0px 0px 10px;
}

#user-panel-action-bar a:last-child{
    border-radius: 0px 0px 10px 0px;
}

#user-panel-action-bar a:hover{
    background-color: #ddd;
}
/* Page Elements */

/* Button */
.button, .button:visited {
    font-size: 15px;
    background: #222 url("../img/system/overlay.png") repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    border: none;
}

.button:hover {
    background-color: #111; 
    color: #fff; 
}

.button:active {
    top: 1px; 
}

.blue.button, .blue.button:visited { background-color: #2981e4; }
.blue.button:hover { background-color: #2575cf; }

/* Little window*/
.ui-mushroom-title{
    color: #EFEFEF;
    text-shadow: 0px 0px 15px white;
    text-align: left;
    padding-left: 15px;
    margin-bottom: -8px;
}

.ui-mushroom-content{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ui-mushroom-sandwich{
    padding: 5px;
    background: #333 -webkit-linear-gradient(top, rgba(33, 33, 33, .6), rgba(200, 200, 200, .2), rgba(33, 33, 33, .6));
    background: #333 -moz-linear-gradient(bottom, rgba(0, 0, 0, .2), rgba(255, 255, 255, .3), rgba(0, 0, 0, .2));
}

.ui-mushroom-sandwich > input[type='search']{
    width: 290px; /* 300 - 5 - 5*/
    border-radius: 30px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.ui-mushroom-sandwich > input[type='search']:focus{
    outline: none;
}

.ui-horizontal-slider{
    overflow-x: auto;
    overflow-y: hidden;
}

.ui-red-badge{
    font-size: 15px;
    position: absolute;
    background: -webkit-linear-gradient(#F46962, #F13C31);
    background: -moz-linear-gradient(100% 100% 90deg, #F13C31, #F46962);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid white;
    top: 3px;
    padding: 1px 1px 0px 0px;
    margin-left: 2px;
}

.ui-red-badge > div{
    margin: -6px 0px 0px 6px;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.5);
}

.ui-error-span{
    color: #ff0000;
}